#sketch-board {
  width: 480px;
  height: 490px;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: auto;
  outline: 2px solid black;
  margin: 0 auto;
}

.grid-item {
  background-color: white;
}

.hovered {
  background: black;
}

#buttons {
  margin: 10px;

}

body {
  display: flex;
  justify-content: center;
}

#main-title, #main-description, #buttons {
  text-align: center;
}
